@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "change-bootstrap";

$title-color: #272727;
$text-color: rgba(39, 39, 39, 0.85);
$field-border-color: #DEDEDE;
$field-color: #F5F6F8;
$button-color: #665AE1;
$tab-color: rgba(102, 90, 225, 0.64);
$passcontrol-color: rgba(102, 90, 225, 0.32);
$placeholder-color: rgba(39, 39, 39, 0.4);
$button-text-color: #fff;

$title-font-size: 24px;
$text-font-size: 14px;
$button-font-size: 16px;
$link-title-mob-font-size: 12px;


body {
	font-family: 'Montserrat', sans-serif;
}

.form {
	max-width: 1920px;
	min-width: 320px;
	margin: 0 auto;
	overflow: hidden;
	height: 100vh;

	&__section {
		align-items: center;

		@media screen and (max-width: 1100px) {
			flex-direction: column;
		}
	}

	@media screen and (max-width: 1100px) {
		height: 100%;
	}

	&__image {
		width: 55%;
		max-width: 810px;
		padding: 0;
		background-image: url(../images/Illustration.svg);
		background-repeat: no-repeat;
		background-position: 0 0;

		& img {
			width: 100%;
		}

		@media screen and (max-width: 1280px) {
			width: 45%;
		}

		@media screen and (max-width: 768px) {
			margin-top: 0px;
			width: 100%;
			height: 334px;
			background-size: cover;

			& img {
				display: none;
			}
		}
	}

	&__content {
		width: 45%;
		padding: 0;

		@media screen and (max-width: 1280px) {
			width: 55%;
		}

		@media screen and (max-width: 1280px) {
			margin-top: 60px;
		}

		@media screen and (max-width: 768px) {
			width: 100%;
			margin-top: 0;
		}
	}

	&__container {
		max-width: 384px;
		margin-left: 128px;
		margin-right: auto;
		padding: 0;
		margin-top: 36px;
		min-height: 453px;

		@media screen and (max-width: 1100px) {
			margin-left: auto;
			margin-top: 0;
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;
			min-height: auto;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: $title-font-size;
		line-height: 29px;
		letter-spacing: 0.3px;
		color: $title-color;
		margin-bottom: 16px;

		@media screen and (max-width: 768px) {
			color: $button-text-color;
			margin-top: -150px;
			margin-bottom: 24px;
			text-align: center;
			max-width: 280px;
			margin-left: auto;
			margin-right: auto;

		}
	}

	&__description {
		font-style: normal;
		font-weight: 400;
		font-size: $text-font-size;
		line-height: 23px;
		letter-spacing: 0.2625px;
		color: $text-color;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__nav {
		border: none;
		width: max-content;
		position: relative;
		z-index: 1;
		// padding-bottom: 10px;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: $field-border-color;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
		}

		@media screen and (max-width: 768px) {
			margin: 0 auto;
		}
	}

	&__tabs {
		margin-top: 32px;

		& .form__tab {
			font-style: normal;
			font-weight: 500;
			font-size: $text-font-size;
			line-height: 17px;
			letter-spacing: 0.4375px;
			color: $tab-color;
			padding-bottom: 19px;

			@media screen and (max-width: 768px) {
				padding: 3px 10px;
				padding-bottom: 17px;
			}
		}

		& .form__tab:first-child {
			margin-right: 26px;

			@media screen and (max-width: 768px) {
				margin-right: 13px;
			}
		}

		@media screen and (max-width: 768px) {
			max-width: 94%;
			margin: 0 auto;
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&__tabs {
		& .form__tab.active {
			color: $button-color;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background: $button-color;
				position: absolute;
				left: 0;
				bottom: 0.5px;
				z-index: 1;
			}
		}

		@media screen and (max-width: 768px) {
			background: $button-text-color;
			border-top-left-radius: 24px;
			border-top-right-radius: 24px;
			padding-top: 32px;
		}
	}

	&__login {
		padding-top: 25px;
	}

	&__btn {
		background: $button-color;
		color: $button-text-color;
		font-size: $button-font-size;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 66px;
		padding-right: 66px;

		@media screen and (max-width: 768px) {
			padding-top: 7px;
			padding-bottom: 7px;
			margin-top: 10px;
			width: 100%;
		}
	}

	&__inputwrap {
		margin-bottom: 25px;
		position: relative;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}

	&__passontrol {
		font-style: normal;
		font-weight: 500;
		font-size: $text-font-size;
		line-height: 17px;
		text-align: right;
		letter-spacing: 0.4375px;
		color: $passcontrol-color;
		text-decoration: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 24px;

		&.disabled {
			pointer-events: none;
		}

		&:hover {
			color: $button-color;
			cursor: pointer;
		}
	}

	&__input {
		padding-top: 15px;
		padding-bottom: 15px;
		border-color: $field-border-color;
		background: $field-color;
		padding-left: 26.5px;

		@media screen and (max-width: 768px) {
			padding-top: 7px;
			padding-bottom: 7px;
		}
	}

	&__input#inputPassword {
		padding-right: 65px;
	}

	&__input::placeholder {
		color: $placeholder-color;
		font-size: $text-font-size ;
	}

	&__btn:hover {
		color: $button-text-color;
		opacity: 0.7;
	}
}

.other {
	&__enter {
		font-style: normal;
		font-weight: 400;
		font-size: $text-font-size;
		line-height: 17px;
		letter-spacing: 0.2625px;
		color: $text-color;
		display: flex;
		position: absolute;
		bottom: 2px;

		@media screen and (max-width: 1100px) {
			position: static;
			margin-top: 65px;
		}

		@media screen and (max-width: 768px) {
			display: flex;
			margin-top: 21px;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	&__title {
		padding-right: 24px;

		@media screen and (max-width: 768px) {
			width: 100%;
			text-align: center;
			font-size: $link-title-mob-font-size;
			margin-bottom: 24px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding-left: 0;

		& li {
			padding-right: 24px;
		}

		& a {
			font-style: normal;
			font-weight: 500;
			font-size: $text-font-size;
			line-height: 17px;
			letter-spacing: 0.2625px;
			text-decoration: none;
			color: $title-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}